<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.AccidentHistoryMapper">
    <select id="getAllByCustomerId_Customer" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        select * from accidenthistory
        where customer_id = #{id}
    </select>
    <select id="get_UnderWritingModel" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        SELECT id, date, details_of_accident, customer_id
        FROM AccidentHistory
        WHERE customer_id = #{id}
    </select>

    <insert id="insert_SalesModel" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        INSERT INTO accidentHistory (id, date, details_of_accident, customer_id)
        VALUES (#{id}, #{date}, #{details_of_accident}, #{customer_id})
    </insert>

    <insert id="insert_accidentHistory_CustomerInformationManagement" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        INSERT INTO accidenthistory (id, customer_id, details_of_accident, date)
        VALUES (#{id},
                #{customer_id},
                #{details_of_accident},
                #{date})
    </insert>
    <select id="findAccidentHistoriesByCustomerId_CustomerInformationManagement" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        SELECT * FROM accidenthistory
        WHERE customer_id = #{customer_id}
    </select>
    <delete id="deleteAccidentHistoriesByCustomerId_CustomerInformationManagement" parameterType="int">
        DELETE FROM accidenthistory
        WHERE customer_id = #{customer_id}
    </delete>
    <update id="update_accidentHistory_CustomerInformationManagement" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        UPDATE accidenthistory
        SET details_of_accident = #{details_of_accident},
            date = #{date}
        WHERE id = #{id}
    </update>

    <select id="getMaxId_SalesModel" resultType="Integer">
        select max(id)
        from accidenthistory
    </select>
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        select * from accidenthistory
        where id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        select * from accidenthistory
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        insert into accidentHistory (id, date, details_of_accident, customer_id)
        values (#{id}, #{date}, #{details_of_accident}, #{customer_id})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        update accidenthistory
        set details_of_accident = #{details_of_accident},
            date = #{date},
            customer_id = #{customer_id}
        where id = #{id}
    </update>
    <delete id="deleteById" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        delete from accidenthistory
        where id = #{id}
    </delete>

    <select id="getMaxId_CustomerInformationManagement" resultType="Integer">
        SELECT MAX(id) FROM accidenthistory
    </select>
</mapper>