<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.AccidentHistoryMapper">
    <select id="getAllByCustomerId_Customer" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        select * from accidenthistory
        where customer_id = #{id}
    </select>
</mapper>