<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.AccidentMapper">
    <select id="getAccidentById_Customer" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select * from accident
        where id = #{id}
    </select>
    <select id="getAllByCustomerId_Customer" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select * from accident
        where customer_id = #{id}
    </select>
    <select id="getAccidentById_Compensation" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select * from accident
        where id = #{id}
    </select>
    <update id="updateStatus_Compensation">
        update accident
        set process_status = #{processStatus}
        where accident_id = #{accidentId}
    </update>
    <select id="findByID_CustomerSupport" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select *
        from accident
        where id=#{param1}
    </select>
    <update id="update_CustomerSupport" parameterType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        update accident
        set date=#{date},
            location=#{location},
            process_status=#{process_status},
            service_type=#{service_type},
            customer_id=#{customer_id}
        where id=#{id}
    </update>
    <select id="getAll_CustomerSupport" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select *
        from accident
    </select>
    <select id="findByProcessStatus_CustomerSupport" resultType="com.example.bunsanedthinking_springback.vo.AccidentVO">
        select *
        from accident
        where process_status=#{param1}
    </select>
</mapper>
