<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.AccidentHistoryMapper">
    <select id="getAllByCustomerId_Customer" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        select * from accidenthistory
        where customer_id = #{id}
    </select>
    <select id="get_UnderWritingModel" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        SELECT id, date, details_of_accident, customer_id
        FROM AccidentHistory
        WHERE customer_id = #{id}
    </select>

    <insert id="insert_SalesModel" parameterType="com.example.bunsanedthinking_springback.vo.AccidentHistoryVO">
        INSERT INTO AccidentHistory (id, date, details_of_accident, customer_id)
        VALUES (#{id}, #{date}, #{details_of_accident}, #{customer_id})
    </insert>

    <insert id="insert_accidentHistory_customerInformationManagement" parameterType="com.example.bunsanedthinking_springback.entity.accidentHistory.AccidentHistory">
        INSERT INTO AccidentHistory (customer_id, description, date, cost)
        VALUES (#{accidentHistory.customerId},
                #{accidentHistory.description},
                #{accidentHistory.date},
                #{accidentHistory.cost});
    </insert>
    <select id="findAccidentHistoriesByCustomerId_customerInformationManagement" parameterType="int" resultType="com.example.bunsanedthinking_springback.entity.accidentHistory.AccidentHistory">
        SELECT * FROM AccidentHistory
        WHERE customer_id = #{customerId};
    </select>
    <delete id="deleteAccidentHistoriesByCustomerId_customerInformationManagement" parameterType="int">
        DELETE FROM AccidentHistory
        WHERE customer_id = #{customerId};
    </delete>
    <update id="update_accidentHistory_customerInformationManagement" parameterType="com.example.bunsanedthinking_springback.entity.accidentHistory.AccidentHistory">
        UPDATE AccidentHistory
        SET description = #{accidentHistory.description},
            date = #{accidentHistory.date},
            cost = #{accidentHistory.cost}
        WHERE id = #{accidentHistory.id};
    </update>

    <select id="getMaxId_SalesModel" resultType="Integer">
        select max(id)
        from accidenthistory
    </select>

</mapper>