<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.BenefitMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.BenefitVO">
        select * from benefit
        where payment_detail_id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.BenefitVO">
        select * from benefit
    </select>
    <select id="getMaxId" parameterType="int">
        select max(payment_detail_id) from benefit
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.BenefitVO">
        insert into benefit (payment_detail_id, benefit_type)
        values (#{payment_detail_id}, #{benefit_type})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.BenefitVO">
        update benefit
        set
            benefit_type = #{benefit_type}
        where payment_detail_id = #{payment_detail_id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete from benefit
        where payment_detail_id = #{id}
    </delete>
</mapper>