<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.CollateralMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.CollateralVO">
        select *
        from collateral
        where product_id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.CollateralVO">
        select *
        from collateral
    </select>
    <select id="getMaxId" parameterType="Integer">
        select max(product_id)
        from collateral
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.CollateralVO">
        insert into collateral(product_id, collateral_type, minimum_value)
        values (#{product_id},
                #{collateral_type},
                #{minimum_value})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.CollateralVO">
        update collateral
        set collateral_type=#{collateral_type},
            minimum_value=#{minimum_value}
        where product_id = #{product_id}
    </update>
    <delete id="deleteById">
        delete
        from collateral
        where product_id = #{id}
    </delete>
</mapper>
