<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.CounselMapper">
    <select id="getById" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.CounselVO">
        select *
        from counsel
        where id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.CounselVO">
        select *
        from counsel
    </select>
    <select id="getMaxId" resultType="Integer">
        select max(id)
        from counsel
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.CounselVO">
        insert into counsel(id, counsel_date, process_status, customer_id, product_id)
        values (#{id}, #{counsel_date}, #{process_status}, #{customer_id}, #{product_id})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.CounselVO">
        UPDATE counsel
        SET counsel_date   = #{counsel_date},
            process_status = #{process_status},
            customer_id    = #{customer_id},
            product_id     = #{product_id}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete
        from counsel
        where id = #{id}
    </delete>
</mapper>
