<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.CustomerMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        select *
        from customer
        where id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        select *
        from customer
    </select>
    <select id="getMaxId" resultType="Integer">
        select max(id)
        from customer
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        INSERT INTO Customer (id, address, age, bank_account, bank_name, gender, job, name, phone_number, property,
                              resident_registration_number)
        VALUES (#{id},
                #{address},
                #{age},
                #{bank_account},
                #{bank_name},
                #{gender},
                #{job},
                #{name},
                #{phone_number},
                #{property},
                #{resident_registration_number})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        UPDATE customer
        SET name         = #{name},
            phone_number = #{phone_number},
            job          = #{job},
            age          = #{age},
            gender       = #{gender},
            address      = #{address},
            property     = #{property},
            bank_name    = #{bank_name},
            bank_account = #{bank_account}
        WHERE id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        DELETE
        FROM customer
        WHERE id = #{id}
    </delete>
</mapper>
