<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.CustomerMapper">
    <select id="getAll_Customer" resultType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        select * from customer
    </select>
    <select id="getById_Customer" resultType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        select * from customer
        where id = #{id}
    </select>
    <select id="getNameById_Customer" resultType="String">
        select name from customer
        where id = #{id}
    </select>
    <select id="getPNById_Customer" resultType="String">
        select phone_number from customer
        where id = #{id}
    </select>

    <select id="getById_Compensation" resultType="com.example.bunsanedthinking_springback.vo.CustomerVO">
        select * from customer
        where id = #{id}
    </select>
</mapper>