<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.DiseaseMapper">
    <select id="getDiseaseById_Customer" resultType="com.example.bunsanedthinking_springback.vo.DiseaseVO">
        select * from disease
        where product_id = #{productID}
    </select>
    <select id="getAll_Customer" resultType="com.example.bunsanedthinking_springback.vo.DiseaseVO">
        select * from disease
    </select>
    <select id="getAllDiseaseInsurance_SalesModel" resultType="com.example.bunsanedthinking_springback.vo.DiseaseVO">
        select * from Disease
    </select>

    <insert id="insert_ProductManagement" parameterType="com.example.bunsanedthinking_springback.vo.DiseaseVO">
        insert into Disease(product_id, disease_name, disease_limit, surgeries_limit)
        values (
                   #{product_id},
                   #{disease_name},
                   #{disease_limit},
                   #{surgeries_limit}
               )
    </insert>
    <update id="update_ProductManagementModel" parameterType="com.example.bunsanedthinking_springback.vo.DiseaseVO">
        UPDATE Disease
        SET
            disease_name = #{disease_name},
            disease_limit = #{disease_limit},
            surgeries_limit = #{surgeries_limit}
        WHERE product_id = #{product_id}
    </update>
</mapper>