<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.DiseaseHistoryMapper">
    <select id="get_UnderWritingModel" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.DiseaseHistoryVO">
        SELECT
            id,
            date_of_diagnosis,
            name,
            customer_id
        FROM
            DiseaseHistory
        WHERE
            customer_id = #{id}
    </select>

    <insert id="insert_SalesModel" parameterType="com.example.bunsanedthinking_springback.vo.DiseaseHistoryVO">
        INSERT INTO DiseaseHistory (id, date_of_diagnosis, name, customer_id)
        VALUES (
                   #{id},
                   #{date_of_diagnosis},
                   #{name},
                   #{customer_id}
               )
    </insert>

</mapper>