<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.EmployeeMapper">
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.EmployeeVO">
        insert into employee (id, address, bank_name, bank_account, employment_date, name, phone_number, position,
                              resident_registration_number, salary, department_id)
        values (#{id},
                #{address},
                #{bank_name},
                #{bank_account},
                #{employment_date},
                #{name},
                #{phone_number},
                #{position},
                #{resident_registration_number},
                #{salary},
                #{department_id})
    </insert>
    <delete id="deleteById">
        delete
        from employee
        where id = #{id}
    </delete>
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.EmployeeVO">
        select *
        from employee
        where id = #{id}
    </select>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.EmployeeVO">
        update employee
        set address=#{address},
            bank_name=#{bank_name},
            bank_account=#{bank_account},
            employment_date=#{employment_date},
            name=#{name},
            phone_number=#{phone_number},
            position=#{position},
            resident_registration_number=#{resident_registration_number},
            salary=#{salary},
            department_id=#{department_id}
        where id = #{id}
    </update>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.EmployeeVO">
        select *
        from employee
    </select>
    <select id="getMaxId" parameterType="Integer">
        select max(id)
        from employee
    </select>
</mapper>
