<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.FamilyMapper">
    <select id="getMaxId" resultType="Integer">
        select max(id)
        from family
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.FamilyVO">
        insert into family (id, birth_date, name, relationship, survival, employee_id)
        values (
                   #{id},
                   #{birth_date},
                   #{name},
                   #{relationship},
                   #{survival},
                   #{employee_id}
               )
    </insert>
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.FamilyVO">
        select * from family
        where id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.FamilyVO">
        select * from family
    </select>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.FamilyVO">
        update family
        set
            birth_date = #{birth_date},
            name = #{name},
            relationship = #{relationship},
            survival = #{survival},
            employee_id = #{employee_id}
        where id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        delete from family
        where id = #{id}
    </delete>
</mapper>
