<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.FixedDepositMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        select *
        from fixedDeposit
        where product_id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        select *
        from fixedDeposit
    </select>
    <select id="getMaxId" parameterType="Integer">
        select max(product_id)
        from fixedDeposit
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        insert into fixedDeposit (product_id, minimum_amount)
        values (#{product_id},
                #{minimum_amount})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        update fixedDeposit
        set minimum_amount=#{minimum_amount}
        where product_id = #{product_id}
    </update>
    <delete id="deleteById">
        delete
        from fixedDeposit
        where product_id = #{id}
    </delete>
</mapper>
