<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.FixedDepositMapper">
    <insert id="insert_LoanManagement" parameterType="map">
        insert into fixeddeposit (product_id, minimum_amount)
        values (
                #{fixedDeposit.product_id},
                #{fixedDeposit.minimum_amount}
               )
    </insert>
    <select id="getFixedDepositById_Customer" resultType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        select * from fixedDeposit
        where product_id = #{id}
    </select>
    <select id="getAll_Customer" resultType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        select * from fixedDeposit;
    </select>
    <select id="getAllFixedDepositLoan_SalesModel" resultType="com.example.bunsanedthinking_springback.vo.FixedDepositVO">
        select * from fixeddeposit
    </select>
</mapper>
