<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.InjuryMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.InjuryVO">
        select *
        from injury
        where product_id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.InjuryVO">
        select *
        from injury
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.InjuryVO">
        insert into Injury(product_id, injury_type, surgeries_limit)
        values (#{product_id},
                #{injury_type},
                #{surgeries_limit})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.InjuryVO">
        UPDATE Injury
        SET injury_type     = #{injury_type},
            surgeries_limit = #{surgeries_limit}
        WHERE product_id = #{product_id}
    </update>
    <delete id="delete" parameterType="int">
        delete
        from injury
        where product_id = #{id}
    </delete>
    <select id="getMaxId" parameterType="Integer">
        select max(product_id)
        from injury
    </select>
</mapper>
