<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.InsuranceContractMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.InsuranceContractVO">
        select *
        from insurancecontract
        where product_id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.InsuranceContractVO">
        select *
        from insurancecontract
    </select>
    <select id="getMaxId" parameterType="Integer">
        select max(product_id)
        from insurancecontract
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.InsuranceContractVO">
        insert into insurancecontract(product_id, insurance_id)
        values (#{product_id},
                #{insurance_id})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.InsuranceContractVO">
        update insurancecontract
        set insurance_id=#{insurance_id}
        where product_id = #{product_id}
    </update>
    <delete id="deleteById">
        delete
        from insurancecontract
        where product_id = #{id}
    </delete>
</mapper>
