<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.InsuranceMoneyMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.InsuranceMoneyVO">
        select *
        from insuranceMoney
        where id = #{id}
    </select>
    <select id="getAll" resultType="com.example.bunsanedthinking_springback.vo.InsuranceMoneyVO">
        select *
        from insuranceMoney
    </select>
    <select id="getMaxId" resultType="Integer">
        select max(id)
        from insuranceMoney
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.InsuranceMoneyVO">
        insert into insuranceMoney (id, bank_account, resident_registration_card, receipt, medical_certificate,
                                    contract_id, bank_name, process_status, apply_date)
        values (#{id}, #{bank_account}, #{resident_registration_card}, #{receipt}, #{medical_certificate},
                #{contract_id}, #{bank_name}, #{process_status}, #{apply_date})
    </insert>
    <update id="update" parameterType="com.example.bunsanedthinking_springback.vo.InsuranceMoneyVO">
        update insuranceMoney
        set bank_account               = #{bank_account},
            resident_registration_card = #{resident_registration_card},
            receipt                    = #{receipt},
            medical_certificate        = #{medical_certificate},
            contract_id                = #{contract_id},
            bank_name                  = #{bank_name},
            process_status             = #{process_status},
            apply_date                 = #{apply_date}
        where id = #{id}
    </update>
    <delete id="deleteById" parameterType="int">
        delete
        from insuranceMoney
        where id = #{id}
    </delete>
</mapper>
