<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.ReportMapper">
    <select id="getAll_Compensation" resultType="com.example.bunsanedthinking_springback.vo.ReportVO">
        select * from report
    </select>
    <select id="getById_Compensation" resultType="com.example.bunsanedthinking_springback.vo.ReportVO">
        select * from report
        where accident_id = #{id}
    </select>
    <update id="updateStatus_Compensation">
        update report
        set process_status = #{processStatus}
        where accident_id = #{reportId}
    </update>
    <insert id="insert_CustomerSupport" parameterType="com.example.bunsanedthinking_springback.vo.ReportVO">
        insert into report (accident_id, damage_assessment_detail, process_status, roadside_assistance_company_id, damage_assessment_company_id)
        values (
                #{accident_id},
                #{damage_assessment_detail},
                #{process_status},
                #{roadside_assistance_company_id},
                #{damage_assessment_company_id}
               )
    </insert>
</mapper>
