<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.ServiceMapper">
    <select id="getById" resultType="com.example.bunsanedthinking_springback.vo.ServiceVO">
        select *
        from service
        where product_id=#{id}
    </select>
    <insert id="insert" parameterType="com.example.bunsanedthinking_springback.vo.ServiceVO">
        insert into service(product_id, service)
        values (
                   #{product_id},
                   #{service}
               )
    </insert>
    <delete id="deleteById" parameterType="int">
        DELETE FROM service
        WHERE product_id = #{id}
    </delete>
</mapper>
