<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bunsanedthinking_springback.repository.SurgeryHistoryMapper">
    <select id="getAllByCustomerId_Customer" resultType="com.example.bunsanedthinking_springback.vo.SurgeryHistoryVO">
        select * from surgeryhistory
        where customer_id = #{id}
    </select>
    <select id="get_UnderWritingModel" parameterType="int" resultType="com.example.bunsanedthinking_springback.vo.SurgeryHistoryVO">
        SELECT id, hospital_name, name, customer_id, date
        FROM SurgeryHistory
        WHERE customer_id = #{id}
    </select>
    <insert id="insert_SalesModel" parameterType="com.example.bunsanedthinking_springback.vo.SurgeryHistoryVO">
        INSERT INTO surgery_history (id, hospital_name, name, date, customer_id)
        VALUES (#{id}, #{hospital_name}, #{name}, #{date}, #{customer_id})
    </insert>

    <insert id="insert_surgeryHistory_customerInformationManagement" parameterType="com.example.bunsanedthinking_springback.entity.surgeryHistory.SurgeryHistory">
        INSERT INTO surgery_history (customer_id, description, date, cost)
        VALUES (#{surgeryHistory.customerId},
                #{surgeryHistory.description},
                #{surgeryHistory.date},
                #{surgeryHistory.cost});
    </insert>
    <select id="findSurgeryHistoriesByCustomerId_customerInformationManagement" parameterType="int" resultType="com.example.bunsanedthinking_springback.entity.surgeryHistory.SurgeryHistory">
        SELECT * FROM surgery_history
        WHERE customer_id = #{customerId};
    </select>
    <delete id="deleteSurgeryHistoriesByCustomerId_customerInformationManagement" parameterType="int">
        DELETE FROM surgery_history
        WHERE customer_id = #{customerId};
    </delete>
    <update id="update_surgeryHistory_customerInformationManagement" parameterType="com.example.bunsanedthinking_springback.entity.surgeryHistory.SurgeryHistory">
        UPDATE surgery_history
        SET description = #{surgeryHistory.description},
            date = #{surgeryHistory.date},
            cost = #{surgeryHistory.cost}
        WHERE id = #{surgeryHistory.id};
    </update>

</mapper>